# Top-level requirements for sat package to function.
# Copyright 2019 Cray Inc. All Rights Reserved.
argcomplete
docker
inflect >= 0.2.5, < 3.0
prettytable >= 0.7.2, < 1.0
pyyaml
requests < 3.0
requests-oauthlib
toml == 0.10.0
